body{
	background:black;
}

#cover{
	width: 100%;
    height: 900px;
    background-image: url('pic2.jpg');
    background-repeat: no-repeat;
    background-size: contain;	
	position:relative;
	top:20px;
}

#intro{
	position:relative;
	margin: 0 auto;
	line-height: 1.4em;
}

#write{
	padding: 3%;
	margin: 0 auto;
	width:700px;
	height:500px;
	font-size:20px;
	font-family: ‘Courier New’, Courier, monospace;
	color:white;
	text-align:center;
}


#ghoul{
	width:250px;
	height:150px;
	margin: 0 auto;
}	

#pv1{
	width:390px;
	height:300px;
	border:solid white;
	border-width:10px;
	float:left;
	
}
#pv2{
	width:390px;
	height:300px;
	border:solid white;
	border-width:10px;
	float:left;
	
}
#pv3{
	width:390px;
	height:300px;
	border:solid white;
	border-width:10px;
	float:left;
}

#kaneki{
    width: 100%;
    height: 1360px;
    background-image: url('kaneki.jpg');
    background-repeat: no-repeat;
    background-size: contain;
	float:left;
	position:relative;
	top:300px;

	
}